.project-name {
    position: relative;
    width: 10em;
    margin: 0 auto;
    height: 3.4em;
}

.project-name>img {
    position: absolute;
    width: 3em;
    left: 0;
    top: 0;
}

.project-name>b {
    position: absolute;
    top: 0;
    left: 4em;
}

.project-name>span {
    display: block;
    position: absolute;
    top: 1em;
    left: 5.2em;
}

.project-name>span:last-child {
    display: block;
    position: absolute;
    top: 2em;
    left: 4.7em;
}

.main-content .btn {
    background-color: rgba(0, 40, 149, 0.7);
}