#documentViewerModal {
    // On fullscreen only
    & .modal-content {
        // need to do this because multiple selector won't work
        &:-moz-full-screen {
            width: 100%;
            height: 100%;
            & .modal-body {
                overflow-y: auto;
            }
        }
        &:-webkit-full-screen {
            width: 100%;
            height: 100%;
            & .modal-body {
                overflow-y: auto;
            }
        }
        &:fullscreen {
            width: 100%;
            height: 100%;
            & .modal-body {
                overflow-y: auto;
            }
        }
    }

    & .modal-lg {
        max-width: 70%;
    }

    & #documentViewerModalIFrame {
        height: 78vh;
        min-height: 15em;
        width: 100%;
    }
}
