#operationsToolbar {
    top: -5em;
    position: absolute;
    left: 24em;
    transition: ease-in-out;
    transition-duration: 200ms;
    transition-property: top;

    & #operationsSelectAll {
        height: 2em;
        margin-bottom: 0;
        padding: 1.18em;

        & > span.checkmark {
            top: 0.6em;
            left: 0.6em;
        }
    }
}

#operationsToolbar.show {
    top: 0.3em;
    transition: ease-in-out;
    transition-duration: 200ms;
    transition-property: top;
}
