body {
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;

    & #viewport {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        background-image: url("/vendor/omen/images/whitenoise-361x370.png");

        & > div {
            margin: 1em;
            background-color: #ffffff;
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            border: 9px solid transparent;
            border-image: url("/vendor/omen/images/shadow.png") 9 9 repeat;
            background-image: url("/vendor/omen/images/loading.svg");
            width: calc(85% + 9px);

            // correction on layers positon
            & > div {
                position: absolute;

                // make links clickable on annotations layer behind text layer
                & > section {
                    z-index: 1;
                }
            }
        }
    }
}
